<div class="information">
	<p class="title">Mô tả bản thân</p>
	<div class="des">
		<img src="images/services.jpg">		
 		<div class="quotations">
			<p>"Con người sinh ra không phải để tan biến đi như một hạt cát vô danh. </p>
			<p>Họ sinh ra để in dấu lại trên mặt đất, in dấu lại trong trái tim người khác."<span>|</span></p>
		</div>
		<p>
			Hiện đang là sinh viên năm 4 trường đại học Bách Khoa Hà Nội. Là một người khá trầm tính, ít nói. Mặc dù tiếp xúc với máy tính và lập trình khá muộn, nhưng mình tin với sự cố gắng của bản thân thành công cuối cùng rồi sẽ đến.
		</p>
	</div>

	<div class="border col-md-12 no-padding"><div class="content-border"></div></div>

	<p class="title-child"><i class="fa fa-thumbs-o-up"></i> Ưu điểm bản thân</p>
	<div class="division">		
		<ul>
			<li></li>
			<li>Thật thà, chăm chỉ và đáng tin cậy</li>
			<li>Nhanh chóng làm quen, dễ dàng hòa đồng với mọi người trong môi trường mới</li>
			<li>Chăm chỉ, có tinh thần trách nhiệm với công việc được giao phó</li>
			<li>Khả năng tự học, tự tìm hiểu tốt. Có thể thuyết trình trước đám đông</li>
			<li>Chịu được áp lực công việc, sẵn sàng tìm hiểu công nghệ mới</li>			
		</ul>
	</div>

	<p class="title-child"><i class="fa fa-thumbs-o-down"></i> Nhược điểm bản thân</p>
	<div class="division">		
		<ul>
			<li>Đôi khi hơi tự ti về bản thân</li>
			<li>Tình trạng sức khỏe không được tốt, đôi chút ảnh hưởng đến công việc</li>
			<li>Trình độ tiếng Anh còn hạn chế, kỹ năng nghe nói kém </li>
			<li>Thông qua các bài tập lớn ở trường tự thấy kỹ năng làm việc nhóm chưa cao</li>
		</ul>
	</div>

	<p class="title-child"><img src="images/tick.png"> Mục tiêu bản thân</p>	
	<div class="division">		
		<ul>
			<li>Tiếp tục phát triển và hoàn thiện bản thân</li>
			<li>Định hướng rõ ràng cho tương lai, tiếp xúc nhiều hơn với môi trường thực tế doanh nghiệp</li>
		</ul>
	</div>
</div>