<div class="skill">
	<div class="col-md-12">
		<p class="title">Trình độ</p>
		<p class="desc">Mới chỉ tiếp xúc với máy tính được hơn 2 năm và cũng khoảng thời gian đó học lập trình, tự đánh giá bản thân ở mức trung bình so với mặt bằng chung</p>
	</div>

	<div class="border col-md-12"><div class="content-border "></div></div>

	<div class="list-skill col-md-12">
		<div class="col-md-6" ng-repeat="(key, value) in listSkill">
			<div class="box">
				<div class="name">
					<img src="images/flag.png">
					<span>{{ value.name }}</span>
				</div>
				<canvas id="doughnut" class="chart chart-doughnut"
					chart-data="value.data" chart-labels="value.labels" chart-options="value.options">
				</canvas> 
				<div class="percent"><span class="count">{{ value.data[0] }}</span> <span class="char">%</span></div>
				<div class="desc">
					<p>
						<img src="images/star.png" ng-repeat="(key, value) in value.fluent">
						<img src="images/star_gray.png" ng-repeat="(key, value) in value.bad">
					</p>
					<span ng-bind-html="value.desc"></span>					
				</div>				
			</div>
		</div>		

		<div class="col-md-12" style="margin-bottom: 20px">
			<p><b>THÔNG TIN KHÁC:</b></p>
			- Database: sử dụng tốt MySQL, chưa có nhiều kinh nghiệm với dữ liệu NoSQL(đã từng sử dụng Mongodb cho ứng dụng chat socket.io)<br>
			- Sử dụng tương đối thuần thục git(github, gitlab, bitbucket)<br>
			- Các công nghệ đã từng áp dụng: Elasticsearch...<br>
			- Trình độ tiếng Anh 430 Toeic<br>
		</div>
	</div>	
</div>