<div class="contact">
	<div class="col-md-12">
		<p class="title">Thông tin liên hệ</p>
		<p class="desc">Hãy điền đầy đủ thông tin và gửi liên hệ cho mình ngay nếu bạn thực sự cần. Mình sẽ sớm nhất trả lời những câu hỏi của mọi người người. Rất vui được đón tiếp!</p>
	</div>
	
	<div class="border col-md-12"><div class="content-border "></div></div>

	<div class="col-md-7">
		<form name="formReport">
			<div class="form-group">
				<label>Tên:</label>
				<input type="text" class="form-control" ng-model="name">
			</div>
		
			<div class="form-group">
				<label>Email:</label>
				<input type="email" class="form-control" ng-model="email">
			</div>

			<div class="form-group">
				<label>Tin nhắn:</label>
				<textarea class="form-control" ng-model="mesage"></textarea>
			</div>
		
			<button type="button" class="btn btn-sm btn-view">Gửi</button>
			<button type="reset" class="btn btn-view">Làm mới</button>
		</form>
	</div>

	<div class="col-md-5" style="padding-top: 18px">
		<img src="images/map.png" class="img-responsive">
		<ul>
			<li>
				<i class="fa fa-phone"></i> <span> +84975 030 714</span>
			</li>
			<li>
				<i class="fa fa-paper-plane"></i> <span> nguyensonghao974@gmail.com</span>
			</li>
			<li>
				<i class="fa fa-arrows"></i> <span>Cầu Dậu, khu đô thị Bắc Linh Đàm</span>
			</li>
			<li class="net">
				<ul>
					<li><i class="fa fa-facebook-square"></i></li>
					<li><i class="fa fa-skype"></i></li>
					<li><i class="fa fa-twitter-square"></i></li>	
				</ul>
			</li>			
		</ul>
	</div>
</div>