<div class="home">
	<p class="title">Thông tin cá nhân</p>
	<div class="desc">
		<!-- <div class="avatar">
			<img src="images/image.jpg">
			<p class="center">Ảnh cá nhân</p>
		</div> -->
		<div class="col-md-12">
			<div class="col-md-9">
				<p>Họ tên: Nguyễn Song Hào</p>
				<p>Năm sinh: 09/07/1994</p>
				<p>SCMND: 034094001924</p>
				<p>Quê quán: Thụy Dân, Thái Thụy, Thái Bình</p>
				<p>Nơi ở hiện tại: Cầu Dậu, khu đô thị Bắc Linh Đàm</p>
				<p>Điện thoại: +84975 030 714</p>
				<p>Email: nguyensonghao974@gmail.com</p>		
				<p>Hiện đang là sinh viên năm 4 trường đại học Bách Khoa Hà Nội</p>
			</div>

			<div class="col-md-3">
				<img src="images/image.jpg" width="100%">
				<p class="center">Ảnh cá nhân</p>
			</div>
		</div>		
	</div>
	<div class="ribbon"><span>Hào</span></div>
</div>